body {
	background-image: url("black_bg.jpg");
}
.menu .content {
	opacity: 0.4;
	height: 200px;
	background-color: yellow;
	background-size: cover;
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
	grid-gap: 10px;
	
}
.menu .content > div {
	background-color: rgba(189, 183, 107, 0.8);
	text-align: center;
	bottom: center;
	padding: 20px;
	font-size: 40px;
}



h1 {
	text-align: center;
	color: OliveDrab;
	padding: 20px;
	font-family: Console;
	font-size: 40px
}

p {
	padding: 10px 70px;
	text-align: center;
	font-family: Console;
	font-size: 20px
}

a {
	text-decoration: none;
}

h2 {
	text-align: center;
	color: OliveDrab;
	font-family: Console;
	font-size: 30px
}