body {
    font-family: Georgia, serif;
    color: cornsilk;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 50px
}

p {
    letter-spacing: 1px;
    width: 90%;
    padding: 100px;
    padding-top: 15px;
    font-size: 25px;
    float:left;
    padding-bottom: 20px;
}

body {
	background-image: url("Rohelisedmunadb.png");
    background-size:contain;
}
