body {
    background-image: url(https://ak0.picdn.net/shutterstock/videos/3937400/thumb/1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Georgia, serif;
    color: cornsilk;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 50px
}

p {
    letter-spacing: 1px;
    width: 90%;
    padding: 100px;
    padding-top: 15px;
    font-size: 25px;
    float:left;
    padding-bottom: 20px;
}

img {
    max-width:100%;
    width: auto/9;
    height: auto;
    float:right;
    border-radius:50%;
    padding-right: 100px;
}
